* {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}
html, body {
  width: 100%;
  height: 100%;
}

.show{
	display: block;
}
.hidden{
	display: none;
}
img{
	max-width: 100%;
	height:auto;
}
.bg-img {
  width: 100%;
  height: 100%;
  background: url('../img/library_0.jpg') center center no-repeat;
  background-size: cover;
  overflow: hidden; 
  position: fixed;
  opacity: 1;
  z-index: 10;
 }

 .bg-img2 {
  width: 100%;
  height: 100%;
  left: 0;
  margin-left: 0;
  background: url('../img/library_1.png') center center no-repeat;
  background-size: cover;
  overflow: hidden; 
  position: fixed;
  opacity: 0;
 }

.bar{
	width: 500px;
	height: 600px;
	overflow: hidden;
	position: fixed;
	top: 50%;
	margin-top: -300px;

}
.left-side{
	background: url('../img/library_1.jpeg') center center no-repeat;
	left: 0;
	margin-left:-510px;
	box-shadow: 10px -10px 25px #000;
}

.right-side{
	background: url('../img/library_2.jpeg') center center no-repeat;
	right: 0;
	margin-right: -510px;
	box-shadow: -10px 10px 25px #000;
}

.close{
	width: 70px;
    height: 30px;
    position: relative;
    top: 0;
    background: transparent;
    border: 3px solid;
    border-color: #cec2b7;
    border-radius: 3px;
    font-weight: 600;
    font-size: 17px;
    color: #d4d1cf;
    cursor: pointer;
}

.btn-left{
	left: 0;
}

.btn-right{
	left: 430px;
}

.welcome-text {
	position: absolute;
	color:#632802;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	letter-spacing: 15px;
	top:50%;
	margin-top: -180px;
	left:50%;
	margin-left: -313px;
	cursor: default;
}

.sub-text {
	position: absolute;
	color:#632802;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 36px;
	letter-spacing: 5px;
	top:50%;
    margin-top: -110px;
    left: 50%;
    margin-left: -262px;
    cursor: default;
}

.heading:hover {
	transition: all 0.3s ease-in-out;
	-webkit-text-stroke: 1px #632802;
  	color: #BF691E;
  	text-shadow:
    3px 3px 0 #632802,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.btn{
	position: absolute;
	top: 50%; 
	margin-top: -25px;
	left: 50%;
	margin-left: -68px;    
	background: transparent;
    border: 3px solid;
    border-color: #BF691E;
    border-radius: 3px;
    padding: 15px;
    font-weight: 800;
    font-size: 20px;
    color: #BF691E;
    cursor: pointer;
    opacity: 0;
}
.overlay{
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to bottom right,#000000,#312c2b);
	opacity: 0.85;
}

h1,h2{
	-webkit-text-stroke: 1px #BF691E;
 	color: #BF691E;
 	text-shadow:
    2px 2px 0 #BF691E,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.box{
	position: absolute;
    background: transparent;
    border: 3px solid;
    border-color: #BF691E;
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
    font-size: 24px;
    color: #BF691E;
    cursor: pointer;
    opacity: 0;

}

.left{
	top: -80px;
    left: 50%;
    margin-left: -700px;
}

.right{
	top: -80px;
    left: 50%;
    margin-left: 460px;
}


.center{
	position: fixed;
	left: 50%;
    margin-left: -35px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    bottom: -100px;
    margin-bottom: 0px;
    position: fixed;
    background-color: #bf691e;
    box-shadow: 0px 0px 35px #131010;
    transition: all 1.8s ease-in;
}

.nav-menu {
	position: fixed;
	transition: all 1.8s ease-in;
	width: 600px;
    height: 600px;
    margin-left: -300px;
}
.box:hover{
	transition: all 0.2s ease-in;
	-webkit-text-stroke: 1px #632802;
  	color: #BF691E;
  	text-shadow:
    1px 1px 0 #632802,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    1px  1px 0 #000;
}

.blue {
	position: relative;
	cursor: pointer;
	margin: 0 auto;
	width: 24px;
	height: 24px;
	background-color: #24E0FF;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}

.led_1{
	top: 0;
	left: 0;
}
.led_2{
    top: 110px;
    left: 70px;
}
.led_3{
	top: 210px;
    left: -72px;
}
.led_4{
    top: 210px;
    left: 200px;
}
.led_5{
	top: 289px;
    left: -205px;
}
.led_6{
	top: 41px;
    left: -201px;
}
.led_7{
    top: 129px;
    left: 215px;
}
.led_8{
	top: 359px;
    left: 95px;
}
.led_9{
	top: 209px;
    left: -55px;
}

/**********MENU*****************/

.cn-button {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 11;
    margin-top: 10px;
   	margin-left: -2.25em;
	padding-top: 0em;
	width: 4.5em;
	height: 4.5em;
	border: none;
	border-radius: 50%;
	background: none;
	background-color: #bf691e;
	color: #52be7f;
	text-align: center;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}

.csstransforms .cn-wrapper {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 10;
	margin-top: -300px;
	margin-left: -13.5em;
	width: 27em;
	height: 27em;
	border-radius: 50%;
	background: transparent;
	opacity: 0;
	-webkit-transition: all .3s ease 0.3s;
	-moz-transition: all .3s ease 0.3s;
	transition: all .3s ease 0.3s;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;
	overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
  color: transparent;
}

.csstransforms .opened-nav {
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	pointer-events: auto;
}

.csstransforms .cn-wrapper li {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;
}

.csstransforms .cn-wrapper li a {
	position: absolute;
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
	background: #bf691e;
	background: -webkit-radial-gradient(transparent 35%, #bf691e 35%);
	background: -moz-radial-gradient(transparent 35%, #bf691e 35%);
	background: radial-gradient(transparent 35%, #bf691e 35%);
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2;
	-webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
	-moz-transform: skew(-60deg) rotate(-75deg) scale(1);
	-ms-transform: skew(-60deg) rotate(-75deg) scale(1);
	transform: skew(-60deg) rotate(-75deg) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
	position: relative;
	top: 1.8em;
	display: block;
	font-size: .5em;
	font-weight: 700;
	text-transform: uppercase;
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
	background: -webkit-radial-gradient(transparent 35%, #449e6a 35%);
	background: -moz-radial-gradient(transparent 35%, #449e6a 35%);
	background: radial-gradient(transparent 35%, #449e6a 35%);
}
.csstransforms .cn-wrapper li a:focus {
    position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li {
	-webkit-transition: all .3s ease .3s;
	-moz-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
	-webkit-transform: rotate(-8deg) skew(60deg);
	-moz-transform: rotate(-8deg) skew(60deg);
	-ms-transform: rotate(-8deg) skew(60deg);
	transform: rotate(-8deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(2) {
	-webkit-transform: rotate(35deg) skew(60deg);
	-moz-transform: rotate(35deg) skew(60deg);
	-ms-transform: rotate(35deg) skew(60deg);
	transform: rotate(35deg) skew(60deg);
}

.csstransforms .opened-nav  li:nth-child(3) {
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(4) {
	-webkit-transform: rotate(117deg) skew(60deg);
	-moz-transform: rotate(117deg) skew(60deg);
	-ms-transform: rotate(117deg) skew(60deg);
	transform: rotate(117deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(5) {
	-webkit-transform: rotate(157deg) skew(60deg);
	-moz-transform: rotate(157deg) skew(60deg);
	-ms-transform: rotate(157deg) skew(60deg);
	transform: rotate(157deg) skew(60deg);
}


.no-csstransforms .cn-wrapper {
	overflow: hidden;
	margin: 10em auto;
	padding: .5em;
	text-align: center;
}

.no-csstransforms .cn-wrapper ul {
	display: inline-block;
}

.no-csstransforms .cn-wrapper li {
	float: left;
	width: 5em;
	height: 5em;
	background-color: #fff;
	text-align: center;
	font-size: 1em;
	line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
	background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a{
	background-color: #6F325C;
	color: #fff;
}

.no-csstransforms .cn-button {
	display: none;
}

@media only screen and (max-width: 620px) {
	.no-csstransforms li {
		width: 4em;
		height: 4em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 500px) {
	.no-ccstransforms .cn-wrapper {
		padding: .5em;
	}

	.no-csstransforms .cn-wrapper li {
		width: 4em;
		height: 4em;
		font-size: .9em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 480px) {
	.csstransforms .cn-wrapper {
		font-size: .68em;
	}

	.cn-button {
		font-size: 1em;
	}
}

@media only screen and (max-width:420px) {
	.no-csstransforms .cn-wrapper li {
		width: 100%;
		height: 3em;
		line-height: 3em;
	}
}